<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>BatterySaver</key>
  <false/>
  <key>Label</key>
  <string>BatterySaver</string>
  <key>LowPriorityIO</key>
  <true/>
  <key>ProgramArguments</key>
  <array>
   <string>/usr/bin/osascript</string>
   <string>/etc/batterysaver.scpt</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>ServiceDescription</key>
  <string>Change Screensaver on Battery change</string>
  <key>StartInterval</key>
  <integer>10</integer>
</dict>
</plist>
